body {
  padding: 30px;
}

h1 {
  font-family: poppins;
  font-weight: 500;
}

.column {
  float: left;
  width: 50%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

h3 {
  font-family: ubuntu mono;
  font-weight: 400;
}

button {
  width: 110px;
  height: 50px;
  border-radius: 12px;
  font-family: noto sans jp;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
}